<div class="container">
  <h2>Editar Empleado</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input id="nombre" type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label for="puesto">Puesto:</label>
      <select id="puesto" formControlName="puesto" class="form-control">
        <option *ngFor="let puesto of puestos" [value]="puesto">{{ puesto }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-actualizar" [disabled]="!editForm.valid">Guardar</button>
  </form>
</div>